<%- include('includes/head.ejs') %>

</head>

<%- include('includes/navigation.ejs') %>

<body>
    <div class="container">
        <div class="d-flex justify-content-center">
          <div class="row mx-auto w-75">

    <h1 class="mb-5">Instructions</h1>
    <p class="mb-3 text-danger">***This is a prototype. Only one test user with test data is implemented in the database, however, full functionality is available to test.***</p>
    <p>1. Adjust view of time period by selecting yer and month within Year/Month(yellow) in navigation. This is a global selection and will affect views in the individual transaction sections within the navugation selection.</p>
    <p>2. On the 1st of every month user to enter Balance Sheet account balances after selecting Year/Month and navigating to Balance Sheet. This monthly process will provide a snapshot of assets/net worth for the period and to use in comparison. Personalcapital.com is a nice source for aggregated account info. </p>
    <p>3. Throughout the month enter income, expenses and dividends as they come in by way of Income, Expenses and Investments in navigation. I usually wait until the end of month and just aggregate interest and dividend payments to account for them instead of multiple entries.</p>


</body>

<%- include('includes/end.ejs') %>
