<%- include('includes/head.ejs') %>

</head>

<%- include('includes/navigation.ejs') %>

<body class="">
    <div class="container">
        <div class="d-flex justify-content-center">
          <div class="row mx-auto">

    <%- include('includes/yearmonth.ejs') %>


</body>

<%- include('includes/end.ejs') %>
